# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
temp-html*.html

# Build artifacts
*.zip

# OS-specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
__MACOSX/

# Editor directories and files
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace
*.sublime-project 

# Large files
large-files/*
